.App {
  text-align: center;
}

.prompt {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-evenly;
}
.prompt label {
  text-align: left;
  margin-bottom: 10px;
}

.prompt input {
  margin-bottom: 10px;
  width: fit-content;
}